@charset "utf-8";
/* CSS Document browser reset and basic settings */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, 
body { 
    background-color: #77c4d3;
    height: 100%; 
    margin: 0; 
    padding: 0;
}

button, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
input, 
ol, 
p, 
textarea, 
th, 
ul {
    background: transparent;
    border: 0;
    border-radius: 0;
    font: inherit;
    list-style: none;
    margin: 0;
    outline: 0;
    overflow: visible;
    padding: 0;
    vertical-align: baseline;
}


/* Styles */

body, 
h1,
h2,
h4,
h4,
td,
th,
p,
li,
input {
    font: 14px/1.6 'Roboto', sans-serif;
    color: #333;
}

a {
    color: #333;
    background: rgba(246,247,146,0.9);
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}

a:hover,
a:focus {
    color: #272A31;
}

h1 {
    display: inline;
    color: #ecedee;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.01rem;
    padding: 3px 4px;
}


/* Main DIVs */

nav {
    background: #272A31;
    height: 46px;
    padding: 0.5rem;
}

.navbar-header {
    display: flex;
}

.form-control {
    display: block;
    background: #ecedee url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAeCAYAAABNChwpAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALBJREFUeNpiYBgFo2AUjIIBBozEKrx85YoAkDIgwewLujo6HwgpYiHBwAIgridBfSMQNxBSxESCgRtIDF2i1BPtAGBwXgBSiUQqT4Sqp14aQEoL/dDowAUmAC0vpHoiRHPEfCCVgEVqAdDyRFLMYiIz94B8iB7EF6DitMmGOLLleyQhQWKyHdUcAHXEf6RESpZZTAwDDIa8A0CJ7gMUDxwApgUDhlEwCkbBKCATAAQYAO95JlBucC3sAAAAAElFTkSuQmCC') no-repeat 92% center;
    padding: 2px 4px;
    border: 1px solid #ecedee;
    border-radius: 1px;
  }

.list-wrapper {
    background: #fff;
    width: 242px;
    height: calc(100vh - 46px);
    padding: 12px 24px;
    z-index: 10;
    position: absolute;
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    transition: transform 0.3s ease;
    overflow-y: auto;
}

.list-wrapper.open {
    -webkit-transform: translate(0px, 0);
    transform: translate(0px, 0);
}

.places {
    text-indent: -9999px;
    margin-bottom: 16px; ;
}

#close-btn {
    height: 48px;
    width: 48px;
    float: right;
    cursor: pointer;
}

.list-of-places li {
    padding: 10px 0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    cursor: pointer;
}


/* Info Window settings */

.infowindow-content {
    width: 100%;
    max-width: 212px;
    max-height: 300px;
    position: relative;
    z-index: 99;
}

.infowindow-content p {
    font-size: 14px;
}

.infowindow-content a {
    font-size: 10px;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.infowindow-content img {
    width: 100%;
    max-width: 212px;
    height: auto;
    padding-bottom: 5px;
}

hr {
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.2);
}

.wiki-info {
    font-style: italic;
    padding-top: 5px;
}


/* Error Windows and Colors */

.network-failure-container,
.api-failure-container {
    height: calc(100vh - 53px);
    width: 100%;
    display: table;
    background-color: #77c4d3;
    position: relative;
    left: 0;
    top: 0;
}

.api-failure {
    padding-left: 10%;
    padding-right: 10%;
    position: static;
    vertical-align: middle;
    display: table-cell;
}

.alert-icon {
    width: 54px;
    height: 54px;
    background: #77c4d3 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAp1JREFUeNrsmrtLJEEQxnvFQxAUBA1WUQPBDQ18xXqJbCKCoKDBBUY+wNwDA/EvUNdH4AUanOAlCmZ6+amB4Qom52ODVQ/OQDxOx6+YWlwGcbqne2Za3IKPTtT5fl3d09U1JhzHEe85ysQ7jxJA3FGu+wfybenCRHRBvVAH1AoloSr+sTsoB2WhI+gAOoSe6k72tJ6f0NnEMN+EYQIaheoVf/0S2oQWAXERKQCM12GYh75AnzST+A/6Bs0A5CZ0AJgfwbAA1RhezmR+EhDfQwGAcZrpDDQW8r5cZZD/xgBgvhLDD6gvopcL7exBQNxrA/DM70Rovhii3y8TMudAJgbzFGnea8EzgNmn1+NGzGfVMLKwpQzAr8psCG8b1biGUoC4VV1C85rmEx4FjVpoTikDmP1GDGeah5TXtE7d/gC1IAuXshmYNHDCmowKLln8M4DZJ6jzALVNmBkQ7KkZWXD8MtBtwHwYQcu6U2YJ9Vhc/vfKAHRYDNAuA9BqMUBKBiBpMUBSBqDKYoDqD9GVuLPY718ZgJyhhzkemYicDMCpxRnIygAcWgxwJAPw02KAAxmAX8JtOumGqftAIX5LZQDV3pNwO2a2xaa3En3rHFgUbsfMlnhgT3JXSu5VrlsEsAZPOdU78VfhtvviPgfy0KzKSVzIwg1fLeOOcXj5owzAENRoXYnRPLXet1VrIW9MCbfNF3XsQtNBijlvFqg3ORgxBJkfwrMftQEYgrrE/dByFMsGGpDpTL/aVvF9JbSlh/ghtYaN53nDbuveB/yyscV304yhw44OKepCp1TNB8qAJxsN4uUjX2OA2oZKliUYvwpccOn+q0HRZ1ZqeXzmMcUX8Oqim1TxZ9Z96JgOuFg/s9p6Jy4BlAAU4lmAAQAzTN2r73FNJQAAAABJRU5ErkJggg==') no-repeat center center;
}

.alert-text {
    color: #fff;
    font-size: 22px;
    text-align: center;
}

.wiki-warning1 {
    color: #ea2e49;
}

.wiki-warning2 {
    color: #F65824;
}


/* Media Queries */

@media only screen and (min-width: 400px) and (max-width: 599px) {

    body, 
    h1,
    h2,
    h4,
    h4,
    td,
    th,
    p,
    li,
    input {
        font: 16px/1.6 'Roboto', sans-serif;
    }

    h1 {
        padding: 2px 24px;
    }

    nav {
        height: 46px;
    }

    .list-wrapper {
        width: 242px;
        height: calc(100vh - 46px);
    }

    .infowindow-content {
        max-width: 248px;
        max-height: 380px;
    }

}


@media only screen and (min-width: 600px) {

    body, 
    h1,
    h2,
    h4,
    h4,
    td,
    th,
    p,
    li,
    input {
        font: 18px/1.6 'Roboto', sans-serif;
    }

    h1 {
        padding: 2px 24px;
    }

    nav {
        height: 53px;
    }

    .list-wrapper {
        width: 242px;
        height: calc(100vh - 53px);
    }

    .infowindow-content {
        max-width: 280px;
        max-height: 330px;
    }

}
